<head>
    <title>You Made It!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link href="/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="group-chat">
        <div class="container">
            <div id="chat-window">

                <div class="row">
                    <div class="col">

                        <div id="output">

                        </div>
                    </div>
                    <div class="col">
                        {{#if user}}
                        <form id="clap" class="clap" onclick = sendMessage() data-id="yerr">

                            <button id="submit" type="submit">Clap It Up</button>
                        </form>
                    </div>
                    {{/if}}
                </div>

                <div id="feedback"> </div>
            </div>
        </div>
        <input id="message" type="text" placeholder="Message" />
        <input id="handle" type="text" placeholder="Handle" />
        <button id="sendMessage">Send Message</button>
    </div>
    <script src="/chat.js"></script>
    <script>

        function sendMessage() {
            console.log("Being executed")
            const message = document.getElementById("message").value;
            return "HELLO WORLD"
        }

    </script>
</body>

</html>