<form action="/login" method="POST">
    <div class="form-group">
        <div>
            <label for="signup">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="signup">Password</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class='text-right'>
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
</form>